.menu {
  font-family: "Open Sans", sans-serif;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  top: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  z-index: 999;
  width: 80%;
}

.link {
  font-size: 1rem;
  color: var(--hvid);
  text-decoration: none;
  margin: 1rem;
  font-weight: 100;
  
  transition: all 0.3s ease;
}

.link__selected {
  color: var(--hvid);
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
}

.link__selected::before {
  content: "//";
  position: absolute;
  font-size: 1.5rem;
  color: var(--hvid);
  bottom: 0;
  left: -1rem;
}

@media (min-width: 1000px) {

  .menu {
    position: fixed;
    left: auto;
    top: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    width: 20%;
    margin: 0;
    margin-right: 6rem;
  }
  
  .link {
    font-size: 2rem;
    color: var(--hvid);
    text-decoration: none;
    margin-bottom: 1rem;
    font-weight: 100;
    
    transition: all 0.3s ease;
  }
  
  .link:hover {
    transform: scale(1.1);
  }
  
  .link:active {
    transform: scale(0.9);
  }
  
  .link__selected {
    color: var(--hvid);
    position: relative;
    font-size: 3.5rem;
    font-weight: 500;
  }
  
  .link__selected::before {
    content: "//";
    position: absolute;
    font-size: 3.5rem;
    color: var(--hvid);
    bottom: 0;
    left: -2.5rem;
    transition: all 0.3s ease;
  }
}