.section__para {
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.projects__container-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.soon__para {
    padding: 4rem;
    margin: 1.2rem 2rem 0 2rem;
    background-color: #00000075
}

@media (min-width: 768px) {
    .projects__container-flex {
        flex-direction: row;
        width: 90%;
    }

    .soon__para {
        height: 20vh;
    }
}